.backhome {
  text-decoration: none;
  color: white;
  font-weight: 700;
  margin: auto;
  transition: all 0.3s;
}

.backhome:hover {
  transform: scale(1.2);
}

.back_btn {
  position: fixed;
  height: 80px;
  width: 80px;
  background-color: #42d43d;
  border-radius: 50%;
  bottom: 10%;
  right: 3%;
  display: flex;
}

.singleSeries {
  padding-bottom: 60px;
  max-height: 100vh;
  padding-top: 100px;
}

.singleSeries>.contentSingleSeries {
  display: flex;
  flex-direction: row;
  transition: all 0.3s;
}

.singleSeries>.contentSingleSeries:hover {
  transform: scale(1.01);
}

.singleSeries>.contentSingleSeries>.info {
  position: relative;
  width: 100%;
}

.singleSeries>.contentSingleSeries>.info>h2 {
  position: absolute;
  width: 50%;
  color: white;
  font-size: 80px;
  word-break: break-word;
  -webkit-transform: translate(5%, 8%);
  transform: translate(5%, 8%);
}

.singleSeries>.contentSingleSeries>.info>.premiered {
  color: #42d43d;
  font-size: 30px;
  font-weight: 700;
  position: absolute;
  top: 42%;
  transform: translate(80%, 70%);
}

.singleSeries>.contentSingleSeries>.info>.display-text-group {
  color: white;
  position: absolute;
  width: 40%;
  font-size: 20px;
  top: 54%;
  transform: translate(14%);
}

.singleSeries>.contentSingleSeries>.info>.summary {
  color: white;
  position: absolute;
  width: 40%;
  font-size: 20px;
  top: 54%;
  transform: translate(14%);
}

.singleSeries>.contentSingleSeries>.info>.rating {

  color: white;
  position: absolute;
  top: 42%;
  left: 20%;
  transform: translate(80%, 70%);
  font-size: 30px;
  transition: all 0.3s;
}

.singleSeries>.contentSingleSeries>.info>.rating:hover {
  color: rgb(250, 196, 19);
}

.video {
  position: absolute;
  transform: translate(2.5%);
}